/*-------------------------------HOME PAGE--------------------------*/
#brand-image {
  max-height: 35px;
  max-width: 35px;
  /* overflow: hidden; */
  /* margin-top: 0px; */
  margin: auto 0;
  margin-bottom: 10px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33), 0 6px 20px 0 rgba(0, 0, 0, 0.33);
  
}

img {
  /* position: absolute; */
 top: 50%;
 /* left: 50%; */
 width: 100%;
 height: auto;
 /* margin-top: -250px;  */
 /* margin-left: -250px; /* Half the width */
} */

.responsive {
  width: 100%;
  height: auto;
}

.searchbox {
  width: 300px;
  height: 70px;
  margin: 0 auto;  
  margin-left: 7%;
}

body {
  background-color: white;
  margin: 0 auto;
}

.regions-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.63px;
  color: #000000;

}


.pnw-div, .csw-div, .a-div, .m-div, .ne-div{
  height: 140px;
  /* background-size: cover; */
  position: relative;
  margin: 20px 0 0 0;
  border-radius: 12px;
  /* background: #607D89;  */
  margin: 5px; 
  overflow: hidden;
  vertical-align: middle;
  max-width: 70%;
  
  }

  .pnw-div:hover, .csw-div:hover, .a-div:hover, .m-div:hover, .ne-div:hover{
    
    opacity: 0.2;
    transition: 1s;
    
  
  }

 


.p-div {
  color: rgba(255,255,255,1);
  /* background: #607D89; */
  /* background: linear-gradient(bottom, rgba(96,125,137,1), rgba(96,125,137,.4)); */
  padding: 5px;
  /* line-height: 28px; */
  text-align: justify;
  position: absolute;
  bottom: 1px;
  margin: 1px;
  height: 30px;
  transition: height .5s;
  font-size: 1.3em;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px #333333
  }

#disclaimer {
  padding-top: 15%;
  margin-top: 15%;
}

.h1-div {
  font-family: 'Blinker', sans-serif;
  text-align: center;
  font-size: 75px;
  color: #aaaaaa;
  margin: 60px 0 0 0;
  }

.h2-div {
  text-align: center;
  color: #bbbbbb;
  margin: 0px 0 70px 0;
  }
  

/*------------------------------- NAVBAR -------------------------*/
/* General Settings */
.navbar-nav {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.63%;
}

/* Navbar Bottom Hover Treatment */
.navbar-nav :hover {
  border-bottom: black 1px solid;
}

/* Navbar Background Color */
.bg-light {
  background: #E0E8EC !important;
}


/* -------------------------------FOOTER-----------------------------*/
/* Footer */
.footer {
  background: #E0E8EC !important;
  padding: 0;
  margin: 1px;
}

/* Contact Us Link */
.contact-us {
  float: right;
  cursor: pointer;
}

/* -----------------------------NEWSLETTER PAGE----------------------------- */

.newsletter {
font-family: 'Roboto', sans-serif;
font-size:  18px;              
vertical-align: top;
text-align: left;
margin-left: 18px;
margin-top: 10px;
}

/* Text Input Fields */
#firstname, #lastname, #email{
  font-family: 'Roboto', sans-serif;
  width: 339px;
  height: 30px;
  font-size: 14px;
  line-height: 16px;
  color: rgba (125,125,125, .5);
  padding: 0 0 0 5px;
  vertical-align: top;
  text-align: left;
}

.btn-secondary {
  width: 339px;
  height: 51px; 
}

/* Frequency Dropdown Title */
.freq-title{
  padding: 0 auto;
}

/* Frequency Dropdown */
.frequency {
  margin: 5px 18px;
  width: 339px;
  height: 51px;
  background: white;
  color: black;
  border-radius: 9px;
  text-align: left;
}

/* Frequency Dropdown Post Select*/
.frequency :after {
  background: green;
}



/* Submit Button */
.newsbut {
position: absolute;
width: 339px;
height: 51px;
background: #607D89;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;
margin: 5px 18px;
}



/* Regions */
.regions-list {
  /* margin-top: 33px; */
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: light;
  letter-spacing: -.63%;
  /* border: solid 18px #E0E8EC; */
  line-height: 16px;
  text-align: left;
  padding-left: 5px;
  list-style: none;
}     

/* Regions Checkboxes */
#pacific-northwest-region, #california-southwest-region, #new-england-region, #midwest-region, #atlantic-region, #academic-events, #outings-events, #social-events {
  float: right;
  margin-right: 50px;
  
}

.regionsection {
  padding: 5px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  padding: 5px;
  
  /* credits https://stackoverflow.com/questions/22743457/how-can-i-change-the-size-of-a-bootstrap-checkbox */
}
  
/* ------------------------------CONFIRMATION MODAL-------------------------------- */
.conf-larg {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: medium;
}

/* Modal Guts */
.modal-content {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: -.63%;
  border: solid 18px #E0E8EC;
  line-height: 1.4em;
  background: #E0E8EC;
  text-align: center;
}
